etc/appdata/schema/context.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="context" type="contextType"/>
    <xs:complexType name="contextType">
        <xs:sequence>
            <xs:element type="xs:string" name="package"/>
            <xs:element type="xs:string" name="owner"/>
            <xs:element type="xs:string" name="applicationName"/>
            <xs:element type="xs:string" name="applicationURLPath" minOccurs="0"/>
            <xs:element type="xs:string" name="servletMapping"/>
            <xs:element type="xs:string" name="cmsVersion2" minOccurs="0"/>
            <xs:element type="xs:string" name="encoding"/>
            <xs:element type="languagesType" name="languages"/>
            <xs:element type="xs:string" name="cmsVersion1" minOccurs="0"/>
            <xs:element type="xs:string" name="cmsVersion2" minOccurs="0"/>
            <xs:element type="xs:string" name="welcomeMessage" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="languagesType">
        <xs:sequence>
            <xs:element type="supportedType" name="supported" />
            <xs:element type="defaultType" name="default"  maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="supportedType">
        <xs:sequence>
            <xs:element type="xs:string" name="language" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="defaultType">
        <xs:sequence>
            <xs:element type="xs:string" name="language"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>