etc/appdata/schema/decorators-def.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="decorators" type="decoratorsType"/>
  <xs:complexType name="decoratorsType">
    <xs:sequence>
      <xs:element type="decoratorType" name="decorator" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation>decorator name="pixDec" class="net.anotheria.score.util.PictureDecorator"/ custom decorators  custom luxoasis decorators</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="decoratorType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="class" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>